<a href="https://colab.research.google.com/github/MatheusBruno/CursoDeExtensaoAnimeUniRitter/blob/main/Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exemplo de manipulação de dados usando Python Pandas
Data: 6 de feveiro de 2023

In [6]:
#print("Hello World!")

In [7]:
import pandas as pd

In [8]:
combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

In [9]:
#Exibe as primeiras 15 Linhas.
combustiveis_df.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA

In [10]:
#Mostra o número de linhas e colunas (Linhas, Colunas)
combustiveis_df.shape

(168409, 16)

In [11]:
#Mostra as estatisticas "mais básicas"
combustiveis_df.describe()

       Valor de Venda  Valor de Compra
count   168409.000000              0.0
mean         6.005184              NaN
std          0.794541              NaN
min          2.849000              NaN
25%          5.339000              NaN
50%          5.859000              NaN
75%          6.699000              NaN
max          8.990000              NaN

In [12]:
#Quais são as colunas e que tipo de dados cada um tem...
#Non-Null(numeros de linhas preenchido)
combustiveis_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168409 entries, 0 to 168408
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     168409 non-null  object
 1   Estado - Sigla     168409 non-null  object
 2   Municipio          168409 non-null  object
 3   Revenda            168409 non-null  object
 4   CNPJ da Revenda    168409 non-null  object
 5   Nome da Rua        168409 non-null  object
 6   Numero Rua         168353 non-null  object
 7   Complemento        35057 non-null   object
 8   Bairro             168043 non-null  object
 9   Cep                168409 non-null  object
 10  Produto            168409 non-null  object
 11  Data da Coleta     168409 non-null  datetime64[ns]
 12  Valor de Venda     168409 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  168409 non-null  object
 15  Bandeira           168409 non-null  object
dtypes: datetime64[ns](1), float64(2), object(13)
memory usage: 20.6+ MB

In [13]:
#ca_df = combustiveis_df[['Revenda']]
#ca_df = combustiveis_df[['Municipio']]
#ca_df = combustiveis_df[['Produto']]
#ca_df = combustiveis_df[['Valor de Venda']]
ca_df = combustiveis_df[['Revenda','Municipio','Produto','Valor de Venda']]
display(ca_df.loc[3])

Revenda           POSTO ARAPIRACA LTDA
Municipio                    ARAPIRACA
Produto             GASOLINA ADITIVADA
Valor de Venda                   6.899
Name: 3, dtype: object

In [14]:
display(ca_df.loc[9:19])

,Revenda,Municipio,Produto,Valor de Venda
9,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,DIESEL S10,5.983
10,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,GASOLINA,7.197
11,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,ETANOL,5.987
12,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,DIESEL,5.978
13,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,DIESEL S10,5.989
14,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,GASOLINA,7.175
15,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,ETANOL,5.930
16,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,DIESEL,5.955
17,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,GASOLINA ADITIVADA,7.175
18,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,DIESEL S10,5.980
19,MARCOS ANTONIO DA SILVA CABRAL,ITACOATIARA,GASOLINA,6.990

In [15]:
#Criar uma dataframe gas_df contendo
#Apenas as 4 colunas (Revenda, Municipio, Produto, Valor de Venda)
#Somente com combustível sendo GASOLINA e exibir na tela

gas_df = ca_df.loc[ca_df['Produto'] == 'GASOLINA']
display(gas_df)

,Revenda,Municipio,Produto,Valor de Venda
0,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA,6.799
5,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,GASOLINA,7.198
10,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,GASOLINA,7.197
14,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,GASOLINA,7.175
19,MARCOS ANTONIO DA SILVA CABRAL,ITACOATIARA,GASOLINA,6.990
...,...,...,...,...
168392,AUTO POSTO KM BAURU LTDA,BAURU,GASOLINA,6.199
168394,COOPERCITRUS COOPERATIVA DE PRODUTORES RURAIS,ITUIUTABA,GASOLINA,6.899
168399,VICMAR COMERCIO DE COMBUSTIVEIS E LUBRIFICANTE...,CAMPOS DOS GOYTACAZES,GASOLINA,7.090
168403,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,JEQUIE,GASOLINA,6.799
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA,6.580

In [16]:
gas_df = ca_df.loc[ca_df['Produto'] == 'GASOLINA']
display(gas_df.max())

Revenda           ZV POSTO DE SERVIÇO LTDA.
Municipio                           XANXERE
Produto                            GASOLINA
Valor de Venda                        7.999
dtype: object

In [17]:
gas_df = ca_df.loc[(ca_df['Produto'] == 'GASOLINA') & (ca_df['Valor de Venda'] < 7.16)]
display(gas_df)

,Revenda,Municipio,Produto,Valor de Venda
0,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA,6.799
19,MARCOS ANTONIO DA SILVA CABRAL,ITACOATIARA,GASOLINA,6.990
23,FERNANDO AZEVEDO FILHO,ITACOATIARA,GASOLINA,6.790
25,EMAQUISON DOS SANTOS FERREIRA,ITACOATIARA,GASOLINA,6.990
27,NOBRE E BRAGA LTDA.,ITACOATIARA,GASOLINA,6.790
...,...,...,...,...
168392,AUTO POSTO KM BAURU LTDA,BAURU,GASOLINA,6.199
168394,COOPERCITRUS COOPERATIVA DE PRODUTORES RURAIS,ITUIUTABA,GASOLINA,6.899
168399,VICMAR COMERCIO DE COMBUSTIVEIS E LUBRIFICANTE...,CAMPOS DOS GOYTACAZES,GASOLINA,7.090
168403,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,JEQUIE,GASOLINA,6.799
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA,6.580

In [18]:
gas_df = ca_df.loc[(ca_df['Produto'] == 'GASOLINA') & (ca_df['Valor de Venda'] < 7.16)]
display(gas_df)

,Revenda,Municipio,Produto,Valor de Venda
0,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA,6.799
19,MARCOS ANTONIO DA SILVA CABRAL,ITACOATIARA,GASOLINA,6.990
23,FERNANDO AZEVEDO FILHO,ITACOATIARA,GASOLINA,6.790
25,EMAQUISON DOS SANTOS FERREIRA,ITACOATIARA,GASOLINA,6.990
27,NOBRE E BRAGA LTDA.,ITACOATIARA,GASOLINA,6.790
...,...,...,...,...
168392,AUTO POSTO KM BAURU LTDA,BAURU,GASOLINA,6.199
168394,COOPERCITRUS COOPERATIVA DE PRODUTORES RURAIS,ITUIUTABA,GASOLINA,6.899
168399,VICMAR COMERCIO DE COMBUSTIVEIS E LUBRIFICANTE...,CAMPOS DOS GOYTACAZES,GASOLINA,7.090
168403,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,JEQUIE,GASOLINA,6.799
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA,6.580

In [19]:
gas_df = ca_df.loc[(ca_df['Produto'] == 'GASOLINA') & (ca_df['Valor de Venda'] < 7.16)]
display(gas_df.head(10))

                                Revenda    Municipio   Produto  Valor de Venda
0                  POSTO ARAPIRACA LTDA    ARAPIRACA  GASOLINA           6.799
19       MARCOS ANTONIO DA SILVA CABRAL  ITACOATIARA  GASOLINA           6.990
23               FERNANDO AZEVEDO FILHO  ITACOATIARA  GASOLINA           6.790
25        EMAQUISON DOS SANTOS FERREIRA  ITACOATIARA  GASOLINA           6.990
27                  NOBRE E BRAGA LTDA.  ITACOATIARA  GASOLINA           6.790
29          ADRIANO MARQUES FRANCO - ME  ITACOATIARA  GASOLINA           6.750
31       MARCOS ANTONIO DA SILVA CABRAL  ITACOATIARA  GASOLINA           6.990
34         ERMELSON DOS SANTOS FERREIRA  ITACOATIARA  GASOLINA           6.990
37      IVAN COELHO PORTO & IRMAOS LTDA       ILHEUS  GASOLINA           6.850
42  POSTO DE SERVICOS DOM EDUARDO LTDA.       ILHEUS  GASOLINA           6.770

In [39]:
gas_df = combustiveis_df.loc[(combustiveis_df['Bairro'] == 'MOOCA') & (combustiveis_df['Municipio'] == 'SAO PAULO') & (combustiveis_df['Produto'].isin(['GASOLINA', 'GASOLINA ADITIVADA'])), ['Valor de Venda']]
display(gas_df.mean())

Valor de Venda    6.575596
dtype: float64