<a href="https://colab.research.google.com/github/MatheusBruno/CursoDeExtensaoAnimeUniRitter/blob/main/Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exemplo de manipulação de dados usando Python Pandas
Data: 6 de feveiro de 2023

In [ ]:
#print("Hello World!")

Hello World!

In [27]:
import pandas as pd

In [37]:
combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

print(dicecombustiveis.shape) #mostra o numeros de linhas e colunas(linhas, colunas)

print(dicecombustiveis.describe()) #describe() mostras estatísticas "mais básicas" que a gente precisa

print(dicecombustiveis.info()) #Non-Null(numeros de linhas preenchido) #Dtype()

In [50]:
#ca_df = combustiveis_df[['Revenda']]
#ca_df = combustiveis_df[['Municipio']]
#ca_df = combustiveis_df[['Produto']]
#ca_df = combustiveis_df[['Valor de Venda']]
ca_df = combustiveis_df[['Revenda','Municipio','Produto','Valor de Venda']]
display(ca_df.loc[3])

Revenda           POSTO ARAPIRACA LTDA
Municipio                    ARAPIRACA
Produto             GASOLINA ADITIVADA
Valor de Venda                   6.899
Name: 3, dtype: object

In [51]:
display(ca_df.loc[9:19])

,Revenda,Municipio,Produto,Valor de Venda
9,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,DIESEL S10,5.983
10,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,GASOLINA,7.197
11,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,ETANOL,5.987
12,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,DIESEL,5.978
13,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,DIESEL S10,5.989
14,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,GASOLINA,7.175
15,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,ETANOL,5.930
16,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,DIESEL,5.955
17,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,GASOLINA ADITIVADA,7.175
18,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,DIESEL S10,5.980
19,MARCOS ANTONIO DA SILVA CABRAL,ITACOATIARA,GASOLINA,6.990

In [61]:
#Criar uma dataframe gas_df contendo
#Apenas as 4 colunas (Revenda, Municipio, Produto, Valor de Venda)
#Somente com combustível sendo GASOLINA e exibir na tela

gas_df = ca_df.loc[ca_df['Produto'] == 'GASOLINA']
display(gas_df)

,Revenda,Municipio,Produto,Valor de Venda
0,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA,6.799
5,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,GASOLINA,7.198
10,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,GASOLINA,7.197
14,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,GASOLINA,7.175
19,MARCOS ANTONIO DA SILVA CABRAL,ITACOATIARA,GASOLINA,6.990
...,...,...,...,...
168392,AUTO POSTO KM BAURU LTDA,BAURU,GASOLINA,6.199
168394,COOPERCITRUS COOPERATIVA DE PRODUTORES RURAIS,ITUIUTABA,GASOLINA,6.899
168399,VICMAR COMERCIO DE COMBUSTIVEIS E LUBRIFICANTE...,CAMPOS DOS GOYTACAZES,GASOLINA,7.090
168403,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,JEQUIE,GASOLINA,6.799
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA,6.580

In [63]:
gas_df = ca_df.loc[ca_df['Produto'] == 'GASOLINA']
display(gas_df.max())

Revenda           ZV POSTO DE SERVIÇO LTDA.
Municipio                           XANXERE
Produto                            GASOLINA
Valor de Venda                        7.999
dtype: object

In [62]:
gas_df = ca_df.loc[(ca_df['Produto'] == 'GASOLINA') & (ca_df['Valor de Venda'] < 7.16)]
display(gas_df)

,Revenda,Municipio,Produto,Valor de Venda
0,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA,6.799
19,MARCOS ANTONIO DA SILVA CABRAL,ITACOATIARA,GASOLINA,6.990
23,FERNANDO AZEVEDO FILHO,ITACOATIARA,GASOLINA,6.790
25,EMAQUISON DOS SANTOS FERREIRA,ITACOATIARA,GASOLINA,6.990
27,NOBRE E BRAGA LTDA.,ITACOATIARA,GASOLINA,6.790
...,...,...,...,...
168392,AUTO POSTO KM BAURU LTDA,BAURU,GASOLINA,6.199
168394,COOPERCITRUS COOPERATIVA DE PRODUTORES RURAIS,ITUIUTABA,GASOLINA,6.899
168399,VICMAR COMERCIO DE COMBUSTIVEIS E LUBRIFICANTE...,CAMPOS DOS GOYTACAZES,GASOLINA,7.090
168403,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,JEQUIE,GASOLINA,6.799
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA,6.580

In [69]:
gas_df = ca_df.loc[(ca_df['Produto'] == 'GASOLINA') & (ca_df['Valor de Venda'] < 7.16)]
display(gas_df)

,Revenda,Municipio,Produto,Valor de Venda
0,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA,6.799
19,MARCOS ANTONIO DA SILVA CABRAL,ITACOATIARA,GASOLINA,6.990
23,FERNANDO AZEVEDO FILHO,ITACOATIARA,GASOLINA,6.790
25,EMAQUISON DOS SANTOS FERREIRA,ITACOATIARA,GASOLINA,6.990
27,NOBRE E BRAGA LTDA.,ITACOATIARA,GASOLINA,6.790
...,...,...,...,...
168392,AUTO POSTO KM BAURU LTDA,BAURU,GASOLINA,6.199
168394,COOPERCITRUS COOPERATIVA DE PRODUTORES RURAIS,ITUIUTABA,GASOLINA,6.899
168399,VICMAR COMERCIO DE COMBUSTIVEIS E LUBRIFICANTE...,CAMPOS DOS GOYTACAZES,GASOLINA,7.090
168403,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,JEQUIE,GASOLINA,6.799
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA,6.580

In [75]:
gas_df = ca_df.loc[(ca_df['Produto'] == 'GASOLINA') & (ca_df['Valor de Venda'] < 7.16)]
display(gas_df.head(10))

                                Revenda    Municipio   Produto  Valor de Venda
0                  POSTO ARAPIRACA LTDA    ARAPIRACA  GASOLINA           6.799
19       MARCOS ANTONIO DA SILVA CABRAL  ITACOATIARA  GASOLINA           6.990
23               FERNANDO AZEVEDO FILHO  ITACOATIARA  GASOLINA           6.790
25        EMAQUISON DOS SANTOS FERREIRA  ITACOATIARA  GASOLINA           6.990
27                  NOBRE E BRAGA LTDA.  ITACOATIARA  GASOLINA           6.790
29          ADRIANO MARQUES FRANCO - ME  ITACOATIARA  GASOLINA           6.750
31       MARCOS ANTONIO DA SILVA CABRAL  ITACOATIARA  GASOLINA           6.990
34         ERMELSON DOS SANTOS FERREIRA  ITACOATIARA  GASOLINA           6.990
37      IVAN COELHO PORTO & IRMAOS LTDA       ILHEUS  GASOLINA           6.850
42  POSTO DE SERVICOS DOM EDUARDO LTDA.       ILHEUS  GASOLINA           6.770